.rapports-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rapport-card {
  display: flex;
  align-items: center;
  gap: 16px;

  &__info {
    flex: 1;
  }
}

.rapport-icon {
  font-size: 32px;
  color: var(--color-primary);
}
